.CommunityBadge {
	color: white;
	border-radius: 10px;
	border: none;
	margin: 0 auto;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	font-family: 'Roboto Mono', monospace;
	background: rgb(0, 212, 255);
	background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(9, 9, 121, 1) 55%, rgba(2, 0, 36, 1) 100%);
}

.CommunityBadge__title {
	font-size: 1em;
	font-weight: bold;
	line-height: 23px;
	text-transform: uppercase;
}

.WorkshopCard {
	color: white;
	border-radius: 10px;
	margin: 0 auto;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	font-family: 'Roboto Mono', monospace;
}

.WorkshopCard_right {
	color: #020024;
	background-color: rgb(245, 245, 245);
}
.WorkshopCard_left {
	background-color: #020024;
	border-radius: 10px 0px 0px 10px;
}
.WorkshopCard_teacher {
	background-color: #020024;
	color: white;
	padding: 3px 10px;
	font-size: 12px;
}

.CardCustom__item {
	max-width: 180px;
	width: 220px;
	height: 220px;
}

.CommunityBadge__img {
	align-self: center;
}

.columna {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.contenedor {
	height: 85vh;
}

img {
	object-fit: cover;
}

.CardCustom__img {
	margin-top: -80px;
}

.followbadge {
	background-color: white;
	color: #161856;
	padding: 3px 10px;
	font-size: 12px;
}

.BtnApoyar {
	background-color: #f9b14a;
	outline: none;
	border-color: #f9b14a;
	padding: 10px;
	border-radius: 30px;
	width: 250px;
	display: block;
	margin: 0 auto;
	font-weight: bold;
	font-family: 'Roboto Mono', monospace;
}
.Counter_Day {
	background-color: #6c63ff;
}
.Counter_Day p {
	font-size: 2vw;
	color: white;
}

@media only screen and (min-width: 775px) and (max-width: 1220px) {
}
